header{
	background-color: grey;
	font-color: white;
}
content{

}
footer{

}
.feed{
	border-style: solid;
	margin: auto;
    width: 60%;
    padding: 10px;
    margin-bottom: 20px
}
.profile{
	margin: auto;
    width: 60%;
    padding: 10px;
}

.tombol{
    align-self: center;
    margin-left: 100px
}
.cover{
    height: 100px

}
