header{
	background-color: black;
	font-color: white;
}
content{

}
footer{

}
.feed{
	border-style: solid;
	margin: auto;
    width: 60%;
    padding: 10px;
}
.profile{
	margin: auto;
    width: 60%;
    padding: 10px;
}
.inputField{
	margin: auto;
}