{% extends "lab_4/layout/base.html" %}

{% block content %}

<img class=img-circle id="myPhoto" src="/static/myPhoto.jpg" alt="FotoProfil" height="25%" width="25%" align="right" >
<font color = "white" face="courier">
<h1>Portofolio</h1>
<hr/>
<section name="bio">
    <h2>Bio</h2>
    <p>
        {{content}}
    </p>    
</section>
<hr/>
<section name="about_me">
    <h2>List</h2>
    <ul>
        {% for ii in about_me %}
        <li> {{ ii }} </li>
        {% endfor %}
    </ul>
</section>
<hr/>

<section name="form">
    <h2>Send Message</h2>
    <form id="form" method="POST" action="{% url 'lab-4:add_message' %}">
        <label for="id_name">Nama: </label>
        <input id="id_name" class="form-control" name="name" placeholder="Joseph" type="text">
        <label for="id_email">Email: </label>
        <input id="id_email" class="form-control" name="email" placeholder="x@xmail.com" type="email">
        <label for="id_message">Pesan: </label>
        <textarea id="id_message" class ="form-control" name="message" cols="30" rows="7" placeholder="masukkan pesan" required=""></textarea>
        {% csrf_token %}
        {{ message_form }}
        <br>
        <button type="submit" class="btn btn-default">Submit</button>
    </form>
</section>
</font>
{% endblock %}

