{% extends "base.html" %}
{% block content %}
<style>
    .center_screen {
        position: absolute;
        width: 50%;
        height: 100px;
        top: 15%;
        font-size : 25px;
        text-align: center;
        color: white;
        text-shadow: 0 0 5px white;
        margin-left: 25%; /* margin is -0.5 * dimension */
/*        background-color: rgba(0,0,0,0.35); */
    }
</style>
<div class="center_screen">
    <p class="status" id="test">Hello, this is {{ name }}. {{ content }}.</p>

</div>
{% endblock %}